# Blacklist everything
/*

# whitelist the necessary files and folders, this gets everything from inside them too
!.gitignore
!.project
!.cproject

!src
src/*
!src/*/
src/*/*
!src/**/*.c
!src/**/*.h
!src/**/*.cpp
!src/**/README.txt
!src/**/lscript.ld